apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: ecommerce
  labels:
    app: payment-service
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
        tier: backend
    spec:
      containers:
      - name: payment-service
        image: 297473910235.dkr.ecr.ap-south-1.amazonaws.com/payment-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8085
        env:
        - name: PORT
          value: "8085"
        - name: AWS_REGION
          valueFrom:
            configMapKeyRef:
              name: aws-config
              key: aws_region
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_SECRET_ACCESS_KEY
        - name: USE_LOCALSTACK
          valueFrom:
            configMapKeyRef:
              name: aws-config
              key: USE_LOCALSTACK
        - name: ORDER_SERVICE_URL
          value: "http://order-service:8084"
        volumeMounts:
        - name: index-js
          mountPath: /app/src/index.js
          subPath: index.js
      volumes:
      - name: index-js
        configMap:
          name: payment-service-index

