apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: ecommerce
  labels:
    app: order-service
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
        tier: backend
    spec:
      containers:
      - name: order-service
        image: 297473910235.dkr.ecr.ap-south-1.amazonaws.com/order-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8084
        env:
        - name: PORT
          value: "8084"
        - name: AWS_REGION
          valueFrom:
            configMapKeyRef:
              name: aws-config
              key: aws_region
        - name: AWS_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: aws-config
              key: aws_endpoint
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_SECRET_ACCESS_KEY
        - name: USE_LOCALSTACK
          value: "true"
        - name: LOCALSTACK_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: aws-config
              key: LOCALSTACK_ENDPOINT
        - name: PRODUCT_SERVICE_URL
          value: "http://product-service:8082"
        - name: CART_SERVICE_URL
          value: "http://cart-service:8083"
