apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: frontend-web
  labels:
    release: monitoring
spec:
  namespaceSelector:
    matchNames:
      - ecommerce
  selector:
    matchLabels:
      app: frontend-web
  endpoints:
    - port: http
      path: /health
      interval: 30s
