apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: Service
    metadata:
      name: user-service
      labels:
        app: user-service
    spec:
      type: ClusterIP
      selector:
        app: user-service
      ports:
        - port: 8081
          targetPort: 8081
          protocol: TCP
          name: http
  - apiVersion: v1
    kind: Service
    metadata:
      name: product-service
      labels:
        app: product-service
    spec:
      type: ClusterIP
      selector:
        app: product-service
      ports:
        - port: 8082
          targetPort: 8082
          protocol: TCP
          name: http
  - apiVersion: v1
    kind: Service
    metadata:
      name: cart-service
      labels:
        app: cart-service
    spec:
      type: ClusterIP
      selector:
        app: cart-service
      ports:
        - port: 8083
          targetPort: 8083
          protocol: TCP
          name: http
  - apiVersion: v1
    kind: Service
    metadata:
      name: order-service
      labels:
        app: order-service
    spec:
      type: ClusterIP
      selector:
        app: order-service
      ports:
        - port: 8084
          targetPort: 8084
          protocol: TCP
          name: http
  - apiVersion: v1
    kind: Service
    metadata:
      name: payment-service
      labels:
        app: payment-service
    spec:
      type: ClusterIP
      selector:
        app: payment-service
      ports:
        - port: 8085
          targetPort: 8085
          protocol: TCP
          name: http
  - apiVersion: v1
    kind: Service
    metadata:
      name: frontend-service
      labels:
        app: frontend-web
    spec:
      type: ClusterIP
      selector:
        app: frontend-web
      ports:
        - port: 80
          targetPort: 80
          protocol: TCP
          name: http
