apiVersion: v1
kind: Service
metadata:
  name: kafka-external
  namespace: ecommerce
  labels:
    app: kafka
    component: broker
spec:
  type: LoadBalancer
  selector:
    app: kafka
  ports:
    - name: plaintext
      port: 9092
      targetPort: 9092
      protocol: TCP
  externalTrafficPolicy: Cluster
