services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  localstack:
    image: localstack/localstack:latest
    environment:
      SERVICES: s3
      DEBUG: 1
      DATA_DIR: /tmp/localstack/data
    ports:
      - "4566:4566"
    volumes:
      - localstack_data:/tmp/localstack
      - /var/run/docker.sock:/var/run/docker.sock

  product-service:
    build: .
    image: product-service:latest
    ports:
      - "8082:8082"
    environment:
      NODE_ENV: development
      PORT: 8082
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: productdb
      DB_USER: postgres
      DB_PASSWORD: postgres
      USE_LOCALSTACK: "true"
      LOCALSTACK_ENDPOINT: http://localstack:4566
      AWS_REGION: us-east-1
      S3_BUCKET_RAW: ecommerce-products-raw
      S3_BUCKET_PROCESSED: ecommerce-products-processed
      KAFKA_BROKERS: host.docker.internal:9092
    depends_on:
      postgres:
        condition: service_healthy
      localstack:
        condition: service_started

volumes:
  postgres_data:
  localstack_data: