apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
  namespace: ecommerce
  labels:
    app: cart-service
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cart-service
  template:
    metadata:
      labels:
        app: cart-service
        tier: backend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8083"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: cart-service
        image: 297473910235.dkr.ecr.ap-south-1.amazonaws.com/cart-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8083
        env:
        - name: PORT
          value: "8083"
        - name: AWS_REGION
          valueFrom:
            configMapKeyRef:
              name: aws-config
              key: aws_region
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_SECRET_ACCESS_KEY
        - name: USE_LOCALSTACK
          valueFrom:
            configMapKeyRef:
              name: aws-config
              key: USE_LOCALSTACK
        - name: LOCALSTACK_ENDPOINT
          value: "http://localstack:4566"
        - name: KAFKA_BROKERS
          valueFrom:
            configMapKeyRef:
              name: kafka-config
              key: bootstrap_brokers_tls
        - name: PRODUCT_SERVICE_URL
          value: "http://product-service:8082"
        # duplicate LocalStack envs removed
      restartPolicy: Always
