apiVersion: v1
kind: Service
metadata:
  name: cart-service
  labels:
    app: cart-service
spec:
  type: ClusterIP
  selector:
    app: cart-service
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
