apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: ecommerce
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: 297473910235.dkr.ecr.ap-south-1.amazonaws.com/notification-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8090
              name: http
          env:
            - name: USE_KAFKA
              value: "false"
            - name: KAFKA_BROKERS
              value: "kafka:9092"
            - name: KAFKA_CLIENT_ID
              value: "notification-service"
            - name: KAFKA_GROUP_ID
              value: "notification-service-group"
            - name: NOTIFICATION_TOPIC
              value: "payment.succeeded"
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 20
            periodSeconds: 20
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: ecommerce
  labels:
    app: notification-service
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: http
      port: 8090
      targetPort: 8090
